/*Especificações para as imagens em parallax */
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

/*Logo*/
.logo-1 {
  background-image: url("Imagens/Mapsky_logo.png");
  height: 60px;
  width: 223px;
}

/*Imagem 1*/
.bgimg-1 {
  background-image: url("Imagens/Exibição/img03.png");
  height: 850px;
}

/*Imagem 01 Sobre nós*/
.bgimg-1-1{
  background-image: url("Imagens/Exibição/img01.png");
  height: 600px;
  width: 600px;
}

/*Imagem 01 Sobre nós*/
.bgimg-2-1{
  background-image: url("Imagens/Exibição/img04.png");
  height: 600px;
  width: 500px;
}

/*Imagem 01 Sobre nós*/
.bgimg-3-1{
  background-image: url("Imagens/Exibição/img02.png");
  height: 600px;
  width: 600px;
}

/*Imagem 2*/
.bgimg-2 {
  background-image: url("Imagens/Exibição/Urbano.png");
  height: 850px;
}

/*Imagem 3*/
.bgimg-3 {
  background-image: url("Imagens/Exibição/Mineração.png");
  height: 850px;
}

.roundimg-1 {
  background-image: url("Imagens/Exibição/Campo.png");
  height: 140px;
  width: 140px;
  border-radius: 360px;
}

.roundimg-2 {
  background-image: url("Imagens/Exibição/Obras.png");
  height: 140px;
  width: 140px;
  border-radius: 360px;
}

.roundimg-3 {
  background-image: url("Imagens/Exibição/Vigilância.png");
  height: 140px;
  width: 140px;
  border-radius: 360px;
}

.roundimg-4 {
  background-image: url("Imagens/Exibição/Treinamento_básico.png");
  height: 140px;
  width: 140px;
  border-radius: 360px;
}

.roundimg-5 {
  background-image: url("Imagens/Exibição/Treinamento_avançado.png");
  height: 140px;
  width: 140px;
  border-radius: 360px;
}

.roundimg-6 {
  background-image: url("Imagens/Exibição/manutenção_preventiva.png");
  height: 140px;
  width: 140px;
  border-radius: 360px;
}

/*Texto inicial*/
.intro {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size:30px;
  color: #ffffff;
}

/* Textos flutuantes sobrepondo as imagens*/
.text {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}

.subtitle {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  color: #000;
}

.mb-3{
  display: flexbox;
  align-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

/*Quebras entre as imagens em parallax*/
.parallax-break-white {
  color: #777;
  background-color:lightblue;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.parallax-break-gray {
  color:#ddd;
  background-color:#282E34;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
.img-icon{
  height: 24px;
  width: 24px;
  margin: 12px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s;
}
.whatsapp-button:hover {
    background-color: #1ebe5a;
}
.whatsapp-button img {
    width: 32px;
    height: 32px;
}
.whats.btn{
  height: 80px;
  width: 80px;
}